<script>
  const getElementByString = (elementString) => window.document.querySelector(elementString)
  async function handleSubmit() {
    const validationFields = ['lat', 'lng']
    let validationError
    const params = {}
    validationFields.map(field => {
      const value = getElementByString(`#${field}`).value
      const valid = value.length > 3 && value.includes('.') && value.split('.')[1].length > 2 && value.includes(field === 'lat' ? '+' : '-')
      if (!valid) validationError = true
      params[field] = value
      console.log(valid)
      getElementByString(`#${field}Error`).style.display = valid ? 'none' : 'block'
    })
    if (validationError) return
    const reqObj = {
      headers: {
        Accept: 'application/json',
        'Content-Type': 'application/json',
        Authorization: localStorage.getItem('authToken')
      },
      method: 'GET'
    }
    try {
      const lat = encodeURIComponent(params.lat)
      const lng = encodeURIComponent(params.lng)
      const resp = await fetch(`/api/v1/health_services/area_name?lat=${lat}&lng=${lng}`, reqObj)
      if (resp.status !== 200) {
        return getElementByString('#systemError').style.display = 'block'
      }
      try {
        let respJson = await resp.json()
        if (resp.status !== 200) {
          getElementByString('#systemError').style.display = 'block'
        }
        if (respJson.CMNTY_HLTH_SERV_AREA_NAME) {
          getElementByString('#respData').style.display = 'block'
          getElementByString('#healthServiceArea').innerHTML = respJson.CMNTY_HLTH_SERV_AREA_NAME
          getElementByString('#systemError').style.display = 'none'
          return getElementByString('#invalidLatLng').style.display = 'none'
        }
        getElementByString('#respData').style.display = 'none'
        if (respJson.LAT_LNG_NOT_WITHIN_BC) {
          getElementByString('#invalidLatLng').style.display = 'block'
        }
      } catch(error) {
        getElementByString('#systemError').style.display = 'block'
      }
    } catch(error) {
      getElementByString('#systemError').style.display = 'block'
    }
  }
</script>

<div class="container">
  <div class="row text-center">
    <div class="col-sm-12 "></div>
      <h4>Community Health Service Area Lookup</h4>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <form onsubmit="event.preventDefault(); return handleSubmit();">
            <label for="">Latitude</label>
            <input placeholder='eg. +48.8277' id='lat' type="text" class="form-control">
            <div id='latError' style="display: none;" class="text-danger mt-1 mb-2">Please use a properly formatted latitude (eg. +48.8277) </div>
            <label for="">Longitude</label>
            <input placeholder='eg. -123.711' id='lng' type="text" class="form-control">
            <div id='lngError' style="display: none;" class="text-danger mt-1 mb-2">Please use a properly formatted longitude (eg. -123.711)</div>
            <input type="submit" class="btn btn-primary mt-4"></button>
            <div id='systemError' style="display: none;" class="text-danger mt-1 mb-2">System Error</div>
          </form>
          <div class="text-danger mt-2" style="display: none;" id="invalidLatLng">Those coordinates are not within British Columbia. Please try again.</div>
          <div class="text-center" style="display: none;" id="respData">
            <p>Your Community Health Service Area Is</p>
            <h4 id="healthServiceArea"></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
